@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Unbounded&display=swap");

@font-face {
    font-family: "Montreal";
    src: url("../../Fonts//neue-montreal-font/NeueMontreal-Medium.otf");
}

$white: #ffffff;
$text_font: "Montreal";
$text_font_bold: "Unbounded";
$bg_color: #23259f;
$light_blue : #ECF2FE;
$border_blue : #5748C9;
$shadow : #eee;
$light_black : #666867;
$mid_black : #2C2C2C;


.project-components {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .project-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 5rem;


        .top-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left-box {
                width: 45%;

                .heading {
                    font-size: 38px;
                    font-weight: 600;
                    font-family: $text_font;
                    margin: 0;
                    letter-spacing: 4px;
                    color: $light_black;
                }

                .designimg {
                    margin-left: 4rem;
                    // margin-top: -0.5rem;
                }
            }

            .right-box {
                width: 45%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 6px;

                .our-text {
                    width: 150px;
                    height: 150px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding: 6px;
                    background-color: $border_blue;
                    color: $white;
                    border-radius: 50%;

                    .text-our {
                        margin: 0;
                        font-family: $text_font;
                        font-size: 48px;
                    }
                }

                .project-text {
                    margin: 0;
                    font-family: $text_font;
                    font-size: 48px;
                    color: $mid_black;
                }

                .fireimg {
                    margin-left: 1rem;
                }
            }
        }

        .project-items-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .heading {
                margin: 0;
                font-family: $text_font;
                font-size: 18px;
                font-weight: 600;
                color: $light_black;
                letter-spacing: 2px;
            }

            .items {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 3rem;
            }

            .project-box {
                width: 30%;
                padding: 2rem;
                background-color: #E7D8C9;
                border-radius: 12px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                .projectImg {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }

                .buttons-box {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 100px;
                    height: 100px;
                    padding: 16px;
                    background-color: $border_blue;
                    border-radius: 100% 0px 15px 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 10px;
                    display: none;
                    transition: 1s;



                    .view-btn {
                        position: absolute;
                        color: $light_blue;
                        font-size: 50px;
                        bottom: 15px;
                        right: 15px;
                        transform: rotate(40deg);
                        cursor: pointer;
                    }
                }

            }

            .project-box:hover .buttons-box {
                transition: 1s;
                display: block;
            }
        }
    }
}

@media screen and (max-width : 1440px) {
    .project-components {
        .project-container {
            width: 80%;
            gap: 5rem;

            .top-container {
                .left-box {
                    width: 45%;

                    .heading {
                        font-size: 28px;
                    }

                    .designimg {
                        margin-left: 2rem;
                        width: 80%;
                    }
                }

                .right-box {
                    width: 45%;

                    .our-text {
                        width: 130px;
                        height: 130px;

                        .text-our {
                            font-size: 38px;
                        }
                    }

                    .project-text {
                        font-size: 38px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width : 1200px) {
    .project-components {
        .project-container {
            width: 80%;
            gap: 5rem;

            .project-items-container {
                .heading {
                    font-size: 18px;
                }

                .items {
                    gap: 3rem;
                }

                .project-box {
                    width: 45%;
                    padding: 2rem;
                }
            }
        }
    }
}

@media screen and (max-width : 1024px) {
    .project-components {
        .project-container {
            width: 80%;
            gap: 5rem;

            .top-container {

                .left-box {
                    width: 45%;
                    .heading {
                        font-size: 20px;
                    }

                    .designimg {
                        margin-left: 2rem;
                        width: 80%;
                    }
                }

                .right-box {
                    width: 45%;
                    .our-text {
                        width: 120px;
                        height: 120px;

                        .text-our {
                            font-size: 26px;
                        }
                    }

                    .project-text {
                        font-size: 26px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width : 800px) {
    .project-components {
        .project-container {
            width: 80%;
            gap: 3rem;

            .top-container {
                .left-box {
                    width: 50%;
                    .heading {
                        font-size: 18px;
                    }
                }
                .right-box {
                    width: 50%;
                    .our-text {
                        width: 100px;
                        height: 100px;
                        .text-our {
                            font-size: 26px;
                        }
                    }
                    .project-text {
                        font-size: 26px;
                    }
                }
            }
            .project-items-container {
                .heading {
                    font-size: 16px;
                }

                .items {
                    justify-content: center;
                }

                .project-box {
                    width: 90%;
                    padding: 2rem;
                }
            }
        }
    }
}

@media screen and (max-width : 650px) {
    .project-components {
        .project-container {
            width: 80%;
            gap: 3rem;

            .top-container {
                flex-direction: column-reverse;
                gap: 2rem;
                justify-content: flex-start;
                .left-box {
                    width: 100%;
                    .heading {
                        font-size: 18px;
                    }
                }
                .right-box {
                    width: 100%;
                    .our-text {
                        width: 100px;
                        height: 100px;
                        .text-our {
                            font-size: 26px;
                        }
                    }
                    .project-text {
                        font-size: 26px;
                    }
                }
            }
            .project-items-container {
                .project-box {
                    width: 100%;
                    padding: 2rem;
                }
            }
        }
    }
}