@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Unbounded&display=swap");

@font-face {
  font-family: "Montreal";
  src: url("../../Fonts//neue-montreal-font/NeueMontreal-Medium.otf");
}

$white: #fff;
$text_font: "Montreal";
$text_font_bold: "Unbounded";
$dark_blue : #23259F;

.home-components {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  img {
    width: 100%;
  }

  .home-container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 180px;

    .heading {
      margin: 0;
      color: $white;
      font-family: $text_font;
      text-align: center;
      font-size: 75px;
      font-weight: 500;
      line-height: 125%;
    }
  }

  .contact-div {
    right: 10%;
    top: 40%;
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;

    .contact_btn {
      margin: 0;
      color: $dark_blue;
      font-size: 36px;
      font-family: $text_font;
      font-weight: 500;
      line-height: 150%;
      display: flex;
      align-items: center;

      .icons {
        font-size: 36px;
      }
    }
  }

  .loop-anim-div {
    position: absolute;
    left: 10%;
    bottom: 15%;

    .scroll-box {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      .scroll-roll {
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        animation: rolling 10s linear infinite;
      }

      .hand-img {
        width: 80px;
        border-radius: 50%;
        animation: heartbeat 2s linear infinite;
      }

      @keyframes rolling {
        to {
          transform: rotate(0deg);
        }

        from {
          transform: rotate(360deg);
        }


      }


      @keyframes heartbeat {
        0% {
          transform: scale(1);
        }

        50% {
          transform: scale(1.2);
        }

        100% {
          transform: scale(1);
        }

      }
    }
  }


}

@media screen and (max-width : 1650px) {
  .home-components {
    .home-container {
      top: 150px;
      .heading {
        font-size: 60px;
      }
    }

    .contact-div {
      right: 8%;
      top: 35%;
      width: 200px;
      height: 200px;

      .contact_btn {
        font-size: 28px;

        .icons {
          font-size: 28px;
        }
      }
    }

    .loop-anim-div {
      left: 10%;
      bottom: 15%;
      .scroll-box {
        .scroll-roll {
          width: 170px;
          height: 170px;
        }
        .hand-img {
          width: 60px;
        }
      }
    }
  }
}

@media screen and (max-width : 1440px) {
  .home-components {
    .home-container {
      top: 150px;
      .heading {
        font-size: 50px;
      }
    }

    .contact-div {
      right: 8%;
      top: 35%;
      width: 170px;
      height: 170px;

      .contact_btn {
        font-size: 24px;

        .icons {
          font-size: 24px;
        }
      }
    }

    .loop-anim-div {
      left: 10%;
      bottom: 15%;
      .scroll-box {
        .scroll-roll {
          width: 170px;
          height: 170px;
        }
        .hand-img {
          width: 60px;
        }
      }
    }
  }
}

@media screen and (max-width : 1280px) {
  .home-components {
    .home-container {
      top: 110px;
      .heading {
        font-size: 50px;
      }
    }

    .contact-div {
      right: 8%;
      top: 35%;
      width: 150px;
      height: 150px;

      .contact_btn {
        font-size: 22px;

        .icons {
          font-size: 22px;
        }
      }
    }

    .loop-anim-div {
      left: 10%;
      bottom: 15%;
      .scroll-box {
        .scroll-roll {
          width: 170px;
          height: 170px;
        }
        .hand-img {
          width: 60px;
        }
      }
    }
  }
}

@media screen and (max-width : 1080px) {
  .home-components {
    .home-container {
      top: 100px;
      .heading {
        font-size: 40px;
      }
    }

    .contact-div {
      right: 8%;
      top: 35%;
      width: 130px;
      height: 130px;

      .contact_btn {
        font-size: 18px;

        .icons {
          font-size: 18px;
        }
      }
    }

    .loop-anim-div {
      left: 10%;
      bottom: 15%;
      .scroll-box {
        .scroll-roll {
          width: 120px;
          height: 120px;
        }
        .hand-img {
          width: 40px;
        }
      }
    }
  }
}

@media screen and (max-width : 950px) {
  .home-components {
    .home-container {
      top: 100px;
      .heading {
        font-size: 30px;
      }
    }

  }
}

@media screen and (max-width : 768px) {
  .home-components {
    .home-container {
      top: 100px;
      .heading {
        font-size: 26px;
      }
    }

    .contact-div {
      right: 8%;
      top: 35%;
      width: 100px;
      height: 100px;

      .contact_btn {
        font-size: 16px;

        .icons {
          font-size: 16px;
        }
      }
    }

    .loop-anim-div {
      left: 10%;
      bottom: 15%;
      .scroll-box {
        .scroll-roll {
          width: 100px;
          height: 100px;
        }
        .hand-img {
          width: 40px;
        }
      }
    }
  }
}

@media screen and (max-width : 650px) {
  .home-components {
    .home-container {
      top: 100px;
      .heading {
        font-size: 26px;
      }
    }

    .contact-div {
      right: 4%;
      top: 55%;
      width: 80px;
      height: 80px;

      .contact_btn {
        font-size: 14px;

        .icons {
          font-size: 14px;
        }
      }
    }

    .loop-anim-div {
      left: 10%;
      bottom: 15%;
      .scroll-box {
        .scroll-roll {
          width: 80px;
          height: 80px;
        }
        .hand-img {
          width: 30px;
        }
      }
    }
  }
}

@media screen and (max-width : 550px) {
  .home-components {
    .home-container {
      top: 90px;
      .heading {
        font-size: 20px;
      }
    }

    .contact-div {
      right: 4%;
      top: 55%;
      width: 70px;
      height: 70px;

      .contact_btn {
        font-size: 12px;

        .icons {
          font-size: 12px;
        }
      }
    }

    .loop-anim-div {
      left: 10%;
      bottom: 15%;
      .scroll-box {
        .scroll-roll {
          width: 70px;
          height: 70px;
        }
        .hand-img {
          width: 25px;
        }
      }
    }
  }
}

@media screen and (max-width : 425px) {
  .home-components {
    .home-container {
      top: 70px;
      .heading {
        font-size: 18px;
      }
    }
  }
}