@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Unbounded&display=swap");
@font-face {
  font-family: "Montreal";
  src: url("../../Fonts//neue-montreal-font/NeueMontreal-Medium.otf");
}

$white: #ffffff;
$text_font: "Montreal";
$text_font_bold: "Unbounded";
$bg_color: #23259f;

.navbar-components {
  width: 100%;
  height: 99px;
  position: relative;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;

  .mobile-nav {
    display: none;
  }

  .navbar-container {
    position: absolute;
    width: 85%;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left-box {
      
      .logo-contaner {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        .logo {
          height: 70px;
        }
        .logo-text {
          margin: 0;
          color: $white;
          font-family: $text_font_bold;
          font-size: 33px;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }

    .mid-box {
        display: block;
      .item-container {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .items {
          text-decoration: none;
          display: flex;
          align-items: center;
          padding: 8px 16px;
          color: $white;
          font-family: $text_font;
          font-size: 20px;
          font-weight: 400;
        }
        .items:hover {
          font-weight: 700;
          border-bottom: 1px solid $white;
          transition: 0.3s;
        }
      }
    }

    .right-box {
      .button-container {
        .nav_button {
          display: none;
          height: 70px;
          cursor: pointer;
          border-radius: 50%;
        }

        .contact-btn {
          background: none;
          color: $white;
          border: 1px solid $white;
          font-family: $text_font_bold;
          width: 200px;
          height: 70px;
          border-radius: 40px;
          font-size: 26px;
          font-weight: 500;
          cursor: pointer;
          transition: 0.5s;
        }
        .contact-btn:hover {
          transform: scale(1.1);
          transition: 0.5s;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .navbar-components {
    .navbar-container {
      width: 90%;
      .left-box {
        .logo-contaner {
          .logo {
            height: 60px;
          }
          .logo-text {
            font-size: 28px;
          }
        }
      }

      .mid-box {
        .item-container {
          gap: 0.5rem;
          .items {
            font-size: 20px;
            padding: 8px;
          }
        }
      }

      .right-box {
        .button-container {
          .contact-btn {
            height: 60px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .navbar-components {
    transition: 1s;
    .navbar-container {
      width: 90%;
      .left-box {
        .logo-contaner {
          .logo {
            height: 60px;
          }
          .logo-text {
            font-size: 28px;
          }
        }
      }

      .mid-box {
        display: none;
      }

      .right-box {
        .button-container {
          .nav_button {
            display: block;
            width: 60px;
            height: 60px;
          }
          .contact-btn {
            display: none;
          }
        }
      }
    }
  
    .mobile-nav {
      display: block;
      position: absolute;
      top: 99px;
      right: 0;
      width: 40%;
      height: 96vh;
      background: linear-gradient(#141774, #23259F);

      .item-container {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        width: 89%;
        gap: 2rem;

        .items {
          padding: 10px 0px;
          border: 1px solid #eeeeee8f;
          width: 90%;
          justify-content: center;
          border-radius: 5px;

          text-decoration: none;
          display: flex;
          align-items: center;
          padding: 8px 16px;
          color: $white;
          font-family: $text_font;
          font-size: 20px;
          font-weight: 400;
        }
      }
    }

    .hidden{
      right: -40%;
      transition: 1s;
    }
    .visible{
      right: 0;
      transition: 1s;
    }
  }
}


@media screen and (max-width: 768px) {
  .navbar-components {
    .mobile-nav {
      width: 50%;
    }
    .visible{
      right: 0;
    }
    .hidden{
      right: -50%;
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar-components {
    .navbar-container {
      .left-box {
        .logo-contaner {
          .logo {
            height: 50px;
          }
          .logo-text {
            font-size: 26px;
          }
        }
      }
      .right-box {
        .button-container {
          .nav_button {
            height: 50px;
            width: 50px;
          }
        }
      }
    }
    .mobile-nav {
      width: 60%;
    }
    .visible{
      right: 0;
    }
    .hidden{
      right: -60%;
    }
  }
}

@media screen and (max-width: 500px) {
  .navbar-components {
    .mobile-nav {
      width: 75%;
    }
    .visible{
      right: 0;
    }
    .hidden{
      right: -75%;
    }
  }
}

@media screen and (max-width: 425px) {
  .navbar-components {
    .navbar-container {
      .left-box {
        .logo-contaner {
          .logo {
            height: 40px;
          }
          .logo-text {
            font-size: 20px;
          }
        }
      }
      .right-box {
        .button-container {
          .nav_button {
            height: 40px;
            width: 40px;
          }
        }
      }
    }
    .mobile-nav {
      width: 100%;
    }
    .visible{
      right: 0;
    }
    .hidden{
      right: -100%;
    }
  }
}